html {
  font-family: "Georgia";
}

.banner {
  max-height: 515px;
  overflow: hidden;
  position: relative;
}

img {
  display: block;
  width: 100%;
}

@media only screen and (min-width: 60em) {

  .banner {
    max-height: 465px;
    overflow: hidden;
  }

  img {
    display: block;
    width: 100%;
  }

  .btn {
    background-color: transparent;
    border-color: white;
    height: 3em;;
  }

  .text {
    max-width: 27em;
    margin-right: 14em;
  }

  .banner-content {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    left: 50%;
    transform: translate(-50%);
    display: flex;
  }

}

@media only screen and (min-width: 90em) {

  .banner {
    max-height: 500px;
    overflow: hidden;
  }

  img {
    display: block;
    width: 100%;
  }

  .btn {
    background-color: transparent;
    border-color: white;
    height: 3em;;
  }

  .text {
    max-width: 27em;
    margin-right: 14em;
  }

  .banner-content {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    left: 50%;
    transform: translate(-50%);
    display: flex;
  }

}
